<?xml version="1.0"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="LogsAnalyzer.Properties.Settings.locationappConnectionString" connectionString="Data Source=locationapp.mssql.somee.com;Initial Catalog=locationapp;User ID=delprzemo_SQLLogin_1;Password=qwert12345" providerName="System.Data.SqlClient"/>
    </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
